.specials-container {
  width: 95%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.specials-btn {
  border-radius: 20px;
  border: 1px solid #495e57;
  background: rgba(121, 121, 121, 0);
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.specials-btn:hover {
  background: #d9b608f9;
  color: white;
  cursor: pointer;
}

.specials-btn:active {
  background: #495e57;
  color: #f4ce14;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}
