.banner-block {
  background-image: url('../../assets/banner.png');
  width: 85vw;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
}

.banner-title {
  color: #495e57;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-subtitle {
  color: #495e57;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-button {
  width: 200px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f4ce14;
  color: #495e57;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.banner-button:hover {
  background: #d9b608f9;
  cursor: pointer;
}

.banner-button:active {
  background: #495e57;
  color: #f4ce14;
  cursor: pointer;
}
