.nav-container{
  margin-right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.nav-link {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-link:hover{
  color: #495E57;
}

.nav-link:active{
  color: #F4CE14;
}