.review-section{
  width: 90vw;
  margin-left: 30px;
}

.review-container{
  color: #495E57;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 60px;
}