.footer {
  display: flex;
  align-items: center;
  gap: 90px;
  padding: 30px 60px;
  flex-wrap: wrap;
  width: 90vw;
}

.footer-title {
  color: #495e57;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.footer-block {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 300px;
}

.footer-line {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.footer-icon {
  width: 42px;
  height: 32px;
  color: #495e57;
}

.location-icon {
  width: 22px;
  height: 32px;
  color: #495e57;
}

.footer-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #495e57;
}



@media (max-width: 800px) {
  .footer {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    background-color: #c1cac7;
  }
}