@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  flex-direction: column;
  margin: 30px 60px;
  gap: 90px;
  justify-content: center;
  align-items: center;
}
